<!DOCTYPE html>
<html>
<head>
	<title> Todo List</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">


</head>
<body>
<!-- 
	calling date from js file -->
<div class="box" id=heading>
	<h1><%= varday     %>  </h1>


</div>
	
	

	<div class="box" >	
	
<!-- 		 
		 a loop for iterating over task list
 -->	
 		<% for(let i=0;i< listItems.length ; i++){ %>
				<div class="item">
				<input type="checkbox" name="">	
				<p>				 <%= listItems[i] %></p>
				</div>
			<% } %>




		
		<form class="item" action="/" method="post">
		<!-- 
		 form to take input and pass it to the js file
		 -->
			<button type="submit" formaction="/clear" id="clear" >-</button> 
		 	<input type="text" name="input_task" placeholder=" New Task" autocomplete="off">
			<button type="submit">+</button>
		</form>






	
	</div>
<script type="text/javascript" src="js/index.js"> 



</script>

</body>
</html>





